.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.pokemonCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn button {
  padding: 13px 32px;
  background-color: rgb(124, 124, 231);
  color: white;
  border: none;
  box-shadow: 4px 4px 21px -5px #777777;
  border-radius: 10px;
}

.btn button:hover {
  transform: translateY(-3px)
}
